@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

h1, h2, h3, h4{
    font-family: "Noto Sans", sans-serif;
    color: #fff;
}

h1{
    font-size: 9.5vw;
    font-weight: 700;
    line-height: 8vw;
    text-align: justify;
}

h2{
    font-size: 5.5vw;
    font-weight: 600;
    line-height: 6vw;
}

h3 {
    font-size: 3.2vw;
    font-weight: 700;
    line-height: 4vw;
}

h4{
    font-size: 2.8vw;
    font-weight: 500;
    line-height: 3vw;
    text-align: justify;
}

p{
    font-family: "Noto Serif", serif;
    color: #fff;
    font-size: 1.2vw;
    text-align: justify;
}

/* main */
.sc-1{
    width: 100%;
    position: relative;
}

.sc-1 .main-img{
    width: 100%;
    height: auto;
}

.sc-1 h1{
    position: absolute;
    top: 10%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: auto;
}

.sc-1 h3 {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: auto;
}

.sc-1 .watch-img-1{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    filter: 
    drop-shadow(-5px -5px 5px rgba(255, 255, 255, 0.7)) 
    drop-shadow(5px -5px 5px rgba(255, 255, 255, 0.7));
    animation: glow 3.5s ease-in-out infinite;
}

@keyframes glow {
    0% {
      filter: 
        drop-shadow(-5px -5px 25px rgba(255, 255, 255, 0.7)) 
        drop-shadow(5px -5px 25px rgba(255, 255, 255, 0.7));
    }
    50% {
      filter: 
        drop-shadow(-5px -5px 40px rgba(255, 255, 255, 1)) 
        drop-shadow(5px -5px 40px rgba(255, 255, 255, 1));
    }
    100% {
      filter: 
        drop-shadow(-5px -5px 25px rgba(255, 255, 255, 0.7)) 
        drop-shadow(5px -5px 25px rgba(255, 255, 255, 0.7));
    }
}

.sc-2{
    width: 100%;
    height: auto;
}

.sc-2-1{
    width: 100%;
}

.sc-2 .sc-2-1 h4{
    width: 63%;
    margin: 5% auto 0;
    text-align: center;
}

.sc-2 .sc-2-1 p{
    width: 50%;
    margin: 3% auto 0;
}

.sc-2 .sc-2-1 p:nth-of-type(1){
    padding-top: 2%;
}

.sc-2 .sc-2-2 h2 {
    width: 66%;
    margin: 5% auto 0;
    text-align: center;
}

.sc-2 .sc-2-2 p {
    width: 50%;
    margin: 3% auto 0;
}

.sc-2 .sc-2-2 p:nth-of-type(1) {
    padding-top: 2%;
}

.sc-2-3{
    width: 70%;
    margin: 5% auto 0;
}

.sc-2-3 img{
    width: 100%;
}

.sc-2-4{
    width: 100%;
    position: relative;
    margin: 6% 0;
}

.sc-2-4 img{
    width: 100%;
}

.sc-2-4 h4{
    width: 40%;
    position: absolute;
    top: 8%;
    left: 55%;
}

.sc-2-5{
    width: 100%;
    position: relative;
}

.sc-2-5 img{
    width: 100%;
}

.sc-2-5 .watch-2{
    position: absolute;
    bottom: 0;
    left: 0;
    filter: 
    drop-shadow(-5px -5px 5px rgba(255, 255, 255, 0.7)) 
    drop-shadow(5px -5px 5px rgba(255, 255, 255, 0.7));
    animation: glow 3.5s ease-in-out infinite;
}

/* animate */
h2, h4, p{
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1); 
    will-change: opacity, transform; 
}


h2.visible,
h4.visible,
p.visible {
    opacity: 1;
    transform: translateX(0px);
}

.watch-img-1,
.bg-1,
.bg-2,
.watch-2{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease; 
}

.watch-img-1.visible,
.bg-1.visible,
.bg-2.visible,
.watch-2.visible{
    opacity: 1;
    transform: translateY(0px);
}

h1,
h3{
    opacity: 0;
    /* Ẩn ban đầu */
    margin-top: 100px;
    /* Vị trí ban đầu (dưới) */
    transition: opacity 0.5s ease, margin-top 0.5s ease;
}

h1.visible,
h3.visible{
    opacity: 1;
    /* Hiển thị */
    margin-top: 0;
    /* Trượt lên vị trí gốc */
}

/* responsive */
@media screen and (max-width: 720px) {
    .sc-2 .sc-2-1 h4 {
        width: 85%;
        margin: 10% auto 0;
        text-align: center;
    }
    
    .sc-2 .sc-2-1 p, .sc-2 .sc-2-2 p {
        width: 66%;
        margin: 3% auto 0;
    }
    
    p {
        font-size: 1.9vw;
    }
    
    .sc-2-3 {
        width: 90%;
        margin: 5% auto 0;
    }    
}

@media screen and (max-width: 450px) {
    .sc-1 h1 {
        top: 5%;
        font-size: 12vw;
        line-height: 11.5vw;
    }

    .sc-1 h3 {
        top: 35%;
        width: 80%;
        font-size: 5.2vw;
        line-height: 6vw;
    }

    .sc-2 .sc-2-1 h4 {
        width: 95%;
        margin: 12% auto 0;
    }

    h4 {
        font-size: 3.8vw;
        line-height: 4.3vw;
    }

    .sc-2 .sc-2-1 p, .sc-2 .sc-2-2 p {
        width: 85%;
        margin: 3% auto 0;
    }

    p {
        font-size: 2.6vw;
    }

    .sc-2 .sc-2-2 h2 {
        width: 85%;
        margin: 5% auto 0;
    }

    h2 {
        font-size: 7vw;
        line-height: 7.5vw;
    }

    .sc-2-3 {
        width: 100%;
    }

    .sc-2-4 h4 {
        width: 45%;
        left: 52%;
        font-size: 3vw;
        line-height: 3.3vw;
    }
}
